asyncurban
cairosvg
coffeehouse
colour
deezloader
emoji-country-flag
google
google_trans_new
glitch-this
gtts
humanize
justwatch
lyricsgenius>=3.0.0
lottie
qrcode
spotdl
tracemoepy==4.1
validators
geopy
prettytable
newspaper3k
PyDictionary
pydub
pyfiglet
pytgcalls
ffmpeg-python
