cairosvg
coffeehouse
colour
deezloader
emoji-country-flag
google
glitch-this
gtts
humanize
justwatch
lyricsgenius>=3.0.0
lottie
qrcode
spotdl
tracemoepy==3.8
validators
geopy
prettytable
newspaper3k
pydub
pyfiglet
